@font-face {
    font-family: "Raleway";
    src: url("../raleway/raleway-regular-webfont.woff") format("woff"), url("../raleway/raleway-regular-webfont.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "RalewayLight";
    src: url("../raleway/raleway-light-webfont.woff") format("woff"), url("../raleway/raleway-light-webfont.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "RalewayBold";
    src: url("../raleway/raleway-bold-webfont.woff") format("woff"), url("../raleway/raleway-bold-webfont.woff2") format("woff2");
    font-weight: normal;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

header {
    color: white;
    background: black;
    width: 100%;
    font-family: "RalewayBold", sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


header p {
    display: flex;
    align-self: center;

}

header span {
    padding: 0 8px;
    color: #8de0d2;
}

header nav .firma {
    display: flex;
    padding-right: 40px;
}

header li {
    padding: 0 30px;
}

header a {
    text-decoration: none;
    color: white;
}

.dropdown {
    font-family: "Raleway", sans-serif;
    position: absolute;
    padding-top: 38px;
}
/* Tutaj zaczyna sie wyskakujace okienko */

ul {
    list-style: none;
}

.firma li {
    position: relative;
}

ul li:hover .dropdown {
    display: block;
}
/* Gdy najedziemy myszka na li, czyli na "Firma" to wyskakuje nam dropdown */

.dropdown {
    display: none;
}
/* Ogolnie dropdown jest znikniety*/



.dropdown li {
    padding: 9px;
    position: relative;
    background-color: black;
    left: calc(50% - 68px);
    bottom: 17px;
}

.dropdown:before {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-bottom: 13px solid black;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    position: relative;
    left: 24px;
    bottom: 17px;
}
/* Dwa powyzsze pozwalaja na zrobienie strzalki z borderow*/

.section1 {
    width: 100%;
    background: linear-gradient(white, #e2e2e2);
    padding: 80px 0;
}

.section1 div ul li {
    display: flex;
    align-items: center;
}

.section1 div ul li div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.insideSection1 h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.insideSection1 span {
    color: #8de0d2;
    font-weight: bold;
}

.insideSection1 p {
    margin-bottom: 20px;
    width: 450px;
    line-height: 25px;
}

.insideSection1 a {
    width: 200px;
    height: 60px;
    color: white;
    font-size: 20px;
    background-color: #8de0d2;
    border-radius: 10%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* insideSection1 to napisy obok fotela */

.section1div1, .section1div2 {
    font-size: 70px;
    display: flex;
    color: #8de0d2;
    text-decoration: none;
}
/* section1div1 i div2 to znaczki < i > */

section > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section1div1 a, .section1div2 a{
    font-size: 70px;
    display: flex;
    color: #8de0d2;
    text-decoration: none;
    padding: 0 30px;
}

.section1div2 a {
    padding-left: 80px;
}

.section2div {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.section2div div:first-child {
    background-image: url("../images/box1_img.jpg");
    width: 300px;
    height: 200px;
}

.section2div div:nth-child(2) {
    background-image: url("../images/box2_img.jpg");
    width: 300px;
    height: 200px;
    margin: 25px;
}

.section2div div:last-child {
    border: 1px solid gray;
    width: 300px;
    height: 220px;
    margin-top: 20px;
    padding: 10px;
}

.section2div div h3 {
    padding: 10px;
    padding-top: 20px;
    font-family: RalewayBold, sans-serif;
}

.section2div .section2div2 p {
    padding: 10px;
    font-size: 0.85rem;
    color: gray;
}

.clair, .margarita {
    display: flex;
    position: relative;
}

.clair p, .margarita p {
    padding: 10px;
    height: 50px;
    font-size: 0.95rem;
    color: black;
    display: block;
    font-family: RalewayBold, sans-serif;
    width: 100%;
    background-color: rgba(245, 245, 220, 0.3);
    position: absolute;
    top: 135px;
}

div.clair p:before {
    content: "";
    height: 7px;
    width: 150px;
    background-color: #8de0d2;
    position: absolute;
    top: 27px;
}

div.margarita p:before {
    content: "";
    height: 7px;
    width: 150px;
    background-color: #8de0d2;
    position: absolute;
    top: 27px;
}

div.section2div2 h3:after {
    content: "";
    height: 7px;
    width: 150px;
    background-color: #8de0d2;
    position: absolute;
    bottom: 328px;
    right: 582px;
}

.section3 {
    background-color: #e2e2e2;
    height: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
}

.section3 > p {
}