@font-face {
    font-family: "Raleway";
    src: url("../raleway/raleway-regular-webfont.woff") format("woff"), url("../raleway/raleway-regular-webfont.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "RalewayLight";
    src: url("../raleway/raleway-light-webfont.woff") format("woff"), url("../raleway/raleway-light-webfont.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "RalewayBold";
    src: url("../raleway/raleway-bold-webfont.woff") format("woff"), url("../raleway/raleway-bold-webfont.woff2") format("woff2");
    font-weight: normal;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

header {
    color: white;
    background: black;
    width: 100%;
    font-family: "RalewayBold", sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


header p {
    display: flex;
    align-self: center;

}

header span {
    padding: 0 8px;
    color: #8de0d2;
}

header nav .firma {
    display: flex;
    padding-right: 40px;
}

header li {
    padding: 0 30px;
}

header a {
    text-decoration: none;
    color: white;
}

.dropdown {
    font-family: "Raleway", sans-serif;
    position: absolute;
    padding-top: 38px;
}
/* Tutaj zaczyna sie wyskakujace okienko */

ul {
    list-style: none;
}

.firma li {
    position: relative;
}

ul li:hover .dropdown {
    display: block;
}
/* Gdy najedziemy myszka na li, czyli na "Firma" to wyskakuje nam dropdown */

.dropdown {
    display: none;
}
/* Ogolnie dropdown jest znikniety*/



.dropdown li {
    padding: 9px;
    position: relative;
    background-color: black;
    left: calc(50% - 68px);
    bottom: 17px;
}

.dropdown:before {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-bottom: 13px solid black;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    position: relative;
    left: 24px;
    bottom: 17px;
}
/* Dwa powyzsze pozwalaja na zrobienie strzalki z borderow*/

.section1 {
    width: 100%;
    background: linear-gradient(white, #e2e2e2);
    padding: 80px 0;
}

.section1 div ul li {
    display: flex;
    align-items: center;
}

.section1 div ul li div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.insideSection1 h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.insideSection1 span {
    color: #8de0d2;
    font-weight: bold;
}

.insideSection1 p {
    margin-bottom: 20px;
    width: 450px;
    line-height: 25px;
}

.insideSection1 a {
    width: 200px;
    height: 60px;
    color: white;
    font-size: 20px;
    background-color: #8de0d2;
    border-radius: 10%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* insideSection1 to napisy obok fotela */

.section1div1, .section1div2 {
    font-size: 70px;
    display: flex;
    color: #8de0d2;
    text-decoration: none;
}
/* section1div1 i div2 to znaczki < i > */

section > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section1div1 a, .section1div2 a{
    font-size: 70px;
    display: flex;
    color: #8de0d2;
    text-decoration: none;
    padding: 0 30px;
}

.section1div2 a {
    padding-left: 80px;
}


/*Sekcja druga*/
.section2div {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.section2div div:first-child {
    background-image: url("../images/box1_img.jpg");
    width: 300px;
    height: 200px;
}

.section2div > div:nth-child(2) {
    background-image: url("../images/box2_img.jpg");
    width: 300px;
    height: 200px;
    margin: 25px;
}

.section2div div:last-child {
    border: 1px solid gray;
    width: 300px;
    height: 220px;
    margin-top: 20px;
    padding: 10px;
}

.section2div h3 {
    padding: 10px;
    padding-top: 20px;
    font-family: RalewayBold, sans-serif;
}

.section2div .section2div2 p {
    padding: 10px;
    font-size: 0.85rem;
    color: gray;
}

.clair, .margarita {
    display: flex;
    position: relative;
}

.clair p, .margarita p {
    padding: 10px;
    height: 50px;
    font-size: 0.95rem;
    color: black;
    display: block;
    font-family: RalewayBold, sans-serif;
    width: 100%;
    background-color: rgba(245, 245, 220, 0.3);
    position: absolute;
    top: 135px;
}

div.clair p:before {
    content: "";
    height: 7px;
    width: 150px;
    background-color: #8de0d2;
    position: absolute;
    top: 27px;
}

div.margarita p:before {
    content: "";
    height: 7px;
    width: 150px;
    background-color: #8de0d2;
    position: absolute;
    top: 27px;
}


.section2div2 .line {
    height: 7px;
    width: 150px;
    background-color: #8de0d2;
    position: relative;
    bottom: 8px;
    right: 0;
}


/* Sekcja trzecia, bloki z opcjami basic/standard/advance */
.section3 {
    background-color: #e2e2e2;
    height: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    position: relative;
}

.section3div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 80px;

}

.section3 > .priceList {
    position: relative;
    left: 270px;
}

.section3 .priceList .underline {
    width: 200px;
    height: 10px;
    background-color: #8de0d2;
    position: relative;
    top: 15px;
    right: 60px;
}

.basic {
    width: 300px;
    height: 450px;
    border: 1px solid black;
    position: relative;
    background-color: #eeeeee;
}

.standard {
    width: 300px;
    height: 450px;
    border: 1px solid #8de0d2;
    margin: 0 30px;
    position: relative;
    background-color: #8de0d2;
}

.advance {
    width: 300px;
    height: 450px;
    border: 1px solid black;
    position: relative;
    background-color: #eeeeee;
}

.basic > h2, .standard > h2, .advance > h2 {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
}


/* Ozdobne kółko na granicy bloków z ofertami basic/standard/advance */
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    background-color: red;
    left: calc(50% - 25px);
    bottom: 29px;
}

.section3div h3, .section3div h4, .section3div h5, .section3div h6 {
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    top: 50px;
    line-height: 25px;
    padding: 5px;
    color: gray;
}

.section3div h3, .section3div h5 {
    background-color: lightgray;
}

.section3div h4, .section3div h6 {
    background-color: #e2e2e2;
}



/*Kółko z ceną dla basic*/
.basic .priceCircle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    left: 80px;
    top: 30px;
    text-align: center;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
}

.basic > h2 {
    color: #8de0d2;
}

.basic > p {
    position: relative;
    bottom: -135px;
    background-color: #8de0d2;
    text-align: center;
    width: 100px;
    left: 100px;
    color: white;
    padding: 5px;
    border-radius: 10%;
}

.basic .priceCircle p {
    color: lightgray;
    position: relative;
    top: 33px;
}

.basic div > p:first-of-type {
    font-size: 2.5rem;
    font-weight: bold;
}

.basic div > p > sup {
    font-size: 0.9rem;
    position: relative;
    bottom: 8px;
}

.basic .circle {
    background-color: gray;
    box-shadow: inset 0 0 0 12px white;
    border: 1px solid gray;
}

/* kółko z ceną dla standard */
.standard > p {
    position: relative;
    bottom: -100px;
    background-color: white;
    text-align: center;
    width: 100px;
    padding: 5px;
    border-radius: 10%;
    left: 100px;
    color: #8de0d2;
}

.standard > h2 {
    color: white;
}

.standard .priceCircle p {
    color: lightgray;
    position: relative;
    top: 33px;
}

.standard div > p:first-of-type {
    font-size: 2.5rem;
    font-weight: bold;
}

.standard div > p > sup {
    font-size: 0.9rem;
    position: relative;
    bottom: 8px;
}

.standard .priceCircle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    left: 80px;
    top: 30px;
    text-align: center;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
}

.standard .circle {
    background-color: white;
    box-shadow: inset 0 0 0 12px #8de0d2;
    border: 1px solid #8de0d2;
}


/* kółko z ceną dla advance */
.advance > p {
    position: relative;
    bottom: -65px;
    background-color: #8de0d2;
    text-align: center;
    width: 100px;
    left: 100px;
    color: white;
    padding: 5px;
    border-radius: 10%;
}

.advance > h2 {
    color: #8de0d2;
}


.advance .priceCircle p {
    color: lightgray;
    position: relative;
    top: 33px;
}

.advance div > p:first-of-type {
    font-size: 2.5rem;
    font-weight: bold;
}

.advance div > p > sup {
    font-size: 0.9rem;
    position: relative;
    bottom: 8px;
}

.advance .priceCircle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    left: 80px;
    top: 30px;
    text-align: center;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
}

.advance .circle {
    background-color: gray;
    box-shadow: inset 0 0 0 12px white;
    border: 1px solid gray;
}

/*SEKCJA 4*/
.section4 {
    height: 550px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 50px;
}

.section4div {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    top: 50px;
}

.priceList {
    position: relative;
    left: 270px;
}

.section4 .priceList .underline {
    width: 200px;
    height: 10px;
    background-color: #8de0d2;
    position: relative;
    top: 15px;
    right: 75px;
}

.form {
    width: 600px;
    height: 500px;
    padding: 15px;
    position: relative;
    left: -60px;
}

.form input[type="text"], .form input[type="email"] {
    border: 1px solid #8de0d2;
    width: 600px;
    height: 60px;
    font-size: 2rem;

}

.form input[name="message"] {
    padding-bottom: 150px;
    padding-top: 30px;
}

.form ::placeholder {
    color: lightgray;
}

.form p {
    padding: 10px;
}
.form p:last-child ::placeholder {
    text-align: start;
}

.side {
    display: flex;
    flex-direction: column;
    height: 350px;
    position: relative;
    bottom: 80px;
    right: 0;

}

.side img {
    width: 250px;
}

.section4div .send {
    display: block;
    width: 300px;
    height: 80px;
    color: white;
    background-color: #8de0d2;
    border-radius: 10%;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    margin-top: 35px;
    position: relative;
    bottom: 30px;
    right: 0;
}

.side input {
    margin-top: 40px;
}

.side .agree {
    display: block;
    width: 300px;
    height: 50px;
    position: relative;
    bottom: 20px;
    right: -20px;
    font-size: 1.3rem;
    color: lightgray;
}

/*FOOTER*/
footer {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background-color: white;
    font-size: 0.9rem;
    color: lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

footer .images {
    display: flex;
    position: relative;
    left: 100px;
}

footer p:last-child {
    position: relative;
    right: 430px;
    font-size: 1.1rem;
}

footer p:last-child span {
    font-weight: bold;
}

footer p:first-child {
    position: relative;
    left: 290px;
}
